/* ================================================
    Buttons 
   ================================================ */
/* Normal */
.button-normal {
    appearance: none;
    background-color: lightskyblue;
    border: 1px solid rgba(27, 31, 35, .9);
    border-radius: 0.75rem;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    
    text-transform: uppercase;
    font-weight: bold;
}

.button-normal:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-normal:hover {
    background-color: lightcyan;
    color:rgba(0, 0, 0, 1);
}

.button-normal:disabled {
    background-color: lightgray;
    border-color: rgba(27, 31, 35, .1);
    color: darkgray;
    cursor: not-allowed;
}

/* Cancel */
.button-cancel {
    appearance: none;
    background-color: red;
    border: 1px solid darkred;
    border-radius: 0.75rem;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;
}
    
.button-cancel:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-cancel:hover {
    background-color: rgba(255,0,0,0.6);
}

.button-cancel:disabled {
    background-color: lightgray;
    border-color: rgba(27, 31, 35, .1);
    color: darkgray;
    cursor: not-allowed;
}

  