@font-face {
    font-family: 'orbitron'; /*a name to be used later*/
    src: url('../font/Orbitron-Regular.ttf'); /*URL to font*/
  }

@font-face {
    font-family: 'orbitron'; /*a name to be used later*/
    src: url('../font/Orbitron-Bold.ttf'); /*URL to font*/
    font-weight: bold;
}

@font-face {
    font-family: 'robotomono'; /*a name to be used later*/
    src: url('../font/RobotoMono-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'robotomono'; /*a name to be used later*/
    src: url('../font/RobotoMono-Bold.ttf'); /*URL to font*/
    font-weight: bold;
}

* {
    font-family: 'calibri';
}

.btMoving {
    font-size: 0.75rem;
    margin: 0.1rem;
}

/* ===============================
    Cocktails list
   =============================== */
.cocktail_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cocktail_item  {
    padding: 0.1rem;
    font-family: 'orbitron';
    
    min-width: 20rem;
    max-width: 30rem;
    flex-grow: 1;
    flex: 1 1 0px;
    
    display: inline-block;

    background-color: lightcyan;
    border-color: mintcream;
    border-style: solid;
    border-width: 3px;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
}

.cocktail_item:hover {
    border-color: lightsteelblue;
}

.cocktail_item img {
    float: left; 
    margin: 0.2rem;
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: white;
    border-radius: 20%;
}

.cocktail_item p {
    margin: 0.2rem;
    font-weight: bold;
    font-family: 'orbitron';
    font-size: larger;
}

.cocktail_item ol li {
    color: black;
    font-family: 'robotomono';
    list-style-type: decimal;
}

.cocktail_ingredient_container {
    display: grid;
    grid-template-columns: auto auto;

    margin: 0.5rem;
}

.cocktail_ingredient_item {
    padding: 5px;
}

.colingre_name {
    padding: 0.1rem;

    font-family: 'robotomono';
    color: black;
}

.colingre_qty {
    padding: 0.1rem;

    white-space: nowrap; 

    font-family: 'robotomono';
    font-weight: bold;
    color: black;
}

.colingre_alternate {
    background-color: #aaffff;
}
