/* ================================
    Table
   ================================*/
.info-table {
    background: #f2f2f2;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.info-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}

.info-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.info-table td, .info-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
}

.info-table-odd td {
    background-color:#CCCCCC
}

.pure-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pure-menu-horizontal {
    width: 100%;
    white-space: nowrap;
}

.pure-menu-horizontal .pure-menu-heading, .pure-menu-horizontal .pure-menu-item, .pure-menu-horizontal .pure-menu-separator {
    display: inline-block;
    vertical-align: middle;
}

.pure-menu-item {
    padding: 0;
    margin: 0;
    height: 100%;
}

.pure-menu-item, .pure-menu-list {
    position: relative;
}

.pure-menu-heading, .pure-menu-link {
    padding: 10px 10px;
}

.pure-menu-link {
    color: #777;
}

.pure-menu-heading {
    text-transform: uppercase;
    color: #565d64;
}
.pure-menu-heading, .pure-menu-link {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.button-bar {
    display: flex;
    flex-direction: row-reverse;
}

.button-bar-item {
    margin-left: 2.5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ================================================
    Buttons
   ================================================ */
/* Normal */
.button-normal {
    appearance: none;
    background-color: aliceblue;
    border: 1px solid rgba(27, 31, 35, .9);
    border-radius: 0.75rem;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;

    text-transform: uppercase;
    font-weight: bold;
}

.button-normal:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-normal:hover {
    background-color: lightcyan;
    color:rgba(0, 0, 0, 1);
}

.button-normal:disabled {
    background-color: lightgray;
    border-color: rgba(27, 31, 35, .1);
    color: darkgray;
    cursor: not-allowed;
}

/* Cancel */
.button-cancel {
    appearance: none;
    background-color: red;
    border: 1px solid darkred;
    border-radius: 0.75rem;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;
}

.button-cancel:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-cancel:hover {
    background-color: rgba(255,0,0,0.6);
}

.button-cancel:disabled {
    background-color: lightgray;
    border-color: rgba(27, 31, 35, .1);
    color: darkgray;
    cursor: not-allowed;
}

